body {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, center left;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  align-items: center;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.primary-color {
  color: #fd6e0a;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 30px;
}
#contact-btn{
  background-color: #fff;
  border: 1px solid #fd6e0a;
  color: #181818;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-greatings {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner .profile-pic {
  width: 584px;
}
.banner-content {
  max-width: 800px;
}

/* main section style */
main {
  max-width: 1140px;
  margin: 130px auto;
}
.about {
  border-radius: 10px;
  background: #fff8f3;
  padding: 100px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-info-container {
  display: flex;
  justify-content: center;
}
.about-info {
  margin-right: 30px;
  text-align: center;
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
}

/* What I do Section style */

.section2-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-top: 130px;
}
.section2-discription {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 30px 130px;
  text-align: justify;
  text-justify: inter-word;
}

.skills-contaoner {
  display: flex;
}

.skill {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px 33px;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 24px;
}

/* resume section style */

.section3-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-top: 120px;
  margin-bottom: 100px;
}

.resume-cntainer {
  display: flex;
}
.resume-col {
  margin-right: 70px;
}

.resume-col-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}
.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}
.resume-item-institute {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.resume-itrm-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
}
.download-cv {
  text-align: center;
  margin-top: 50px;
}

/* footer style */

footer {
  background-color: #fff8f3;
  gap: 100px;
  margin-top: 100px;
}
.footer-container {
  max-width: 1140px;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  padding-top: 80px;
}
.footer-title {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}
.footer-discription {
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 30px;
  
}
.social-link a{
  margin-right: 10px;
}
.contact input, textarea{
  display: block;
  margin-bottom: 25px;
  border-radius: 5px;
  border: none;
  padding: 20px;
  width: 400px;
}
#botton{
  width: 150px;
  height: 60px;
}

/* copyright */

.copyright{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-line{
  width: 1140px;
}
.footer-line2{
  width: 400px;
}
