body {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #fff8f3;
  background-image: url('../images/header_bg.png'), url('../images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right, top left;
  
  
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  align-items: center;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.primary-color {
  color: #fd6e0a;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 30px;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-greatings {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* .banner-describtion {
  color: #757575;
  font-size: 30px;
  font-weight: 400;
  */
  
}
.banner .profile-pic {
  width: 584px;
  
}
.banner-content{
    max-width: 800px;
}
